/*--------------------------------------------------------------
# collection
--------------------------------------------------------------*/
.collection {
	padding: 80px 0px;
	@media only screen and (max-width: 1199px) {
		padding: 60px 0px;
	}
	@media only screen and (max-width: 767px) {
		padding: 40px 0px;
	}
	.collection__item-thumb {
		img {
			width: 100%;
			height: auto;
		}
	}
}

.mint-sec {
	padding-top: 80px;
	@media only screen and (max-width: 1199px) {
		padding-top: 60px;
	}
	@media only screen and (max-width: 767px) {
		padding-top: 40px;
	}
}
.font-italic {
	font-style: italic;
}
.minti-box {
	padding: 20px 20px;
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.15);
	position: relative;
	box-shadow: 0 5px 20px rgb(0 0 0 / 25%);
	height: 100%;

	.minti-inner {
		padding: 30px 30px;
		border-radius: 10px;
		background-color: rgba(255, 255, 255, 0.03);
		height: 100%;
	}
	h3 {
		font-size: 20px;
		color: lighten($color: $primary-color, $amount: 10%);
		font-weight: 600;
		margin-bottom: 16px;
	}
	p {
		margin-bottom: 14px;
	}
}
.img-box {
	padding: 20px 20px;
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.15);
	position: relative;
	box-shadow: 0 5px 20px rgb(0 0 0 / 25%);
	height: 100%;
	.img-inner {
		padding: 20px 20px;
		border-radius: 10px;
		background-color: rgba(255, 255, 255, 0.03);
		height: 100%;
		img {
			border-radius: 12px;
		}
	}
}

.mint-help {
	margin-top: 6px;
	p {
		font-size: 13px;
		font-style: italic;
		a {
			text-decoration: underline;
			color: #ffd900;
		}
	}
}
