/*--------------------------------------------------------------
# min-sec
--------------------------------------------------------------*/

.min-sec{
  padding-top: 120px;
  padding-bottom: 60px;
  @media only screen and (max-width: 991px) {
   padding-top: 100px;
   padding-bottom: 40px;
  }
}
.mi-box{
  padding: 40px 15px;
  border-radius: 22px;
 background: #000;
 text-align: center;
 box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.50);
 @media only screen and (max-width: 767px) {
  padding: 30px 20px;
 }
 h3, h2{
  font-size: 22px;
  font-weight: 600;
 }
 h5{
  font-size: 18px;
  font-weight: 600;
 }
 h6{
  font-size: 18px;
  font-weight: 600;
 }
 .mint-doge-img{
  width: 100%;
  max-width: 350px;
  border-radius: 22px;
  margin-bottom: 20px;
  @media only screen and (max-width: 767px) {
   max-width: 200px;
  }
 }
}
.btn-primary{
  border: 0;
  background: linear-gradient(269.21deg, #44B7E9 -62.88%, #00B695 173.99%);
    color: #fff;
    padding: 10px 30px;
    border-radius: 6px;
    font-size: 15px;
    font-weight: 600;
    transition: all .2s ease-in;
    &:hover{
      background: linear-gradient(269.21deg, #3eabd9 -62.88%, #01977b 173.99%);
      color: #fff;
    }
}
.btn-success{
  padding: 10px 30px;
  font-size: 15px;
  font-weight: 600;
  background-color: #4BB543;
  color: #fff;
}




/*--------------------------------------------------------------
# min-sec
--------------------------------------------------------------*/


.mint-box {
  position: relative;
  z-index: 2;
  text-align: center;
  padding-bottom: 40px;
}
.mint-box .hero-texts h1 {
  font-size: 27px;
}
.mint-box .hero-texts h3 {
  font-size: 23px;
}
.mint-box .hero-img {
  padding-top: 40px;
}
.mint-box .hero-img .mint-box {
  display: block;
  width: 100%;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  background: rgba(11, 154, 16, 0.785);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.58);
  padding: 30px 20px;
}
.mint-box .hero-img .mint-box .form-control {
  background-color: transparent;
  background: rgba(90, 89, 89, 0.473);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.486);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.486);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.212);
  color: #F4F7FA;
  font-size: 14px;
  height: 44px;
  text-align: center;
}
.mint-box .hero-img .mint-box .form-control::-webkit-input-placeholder {
  color: #fff;
  opacity: 0.8;
}
.mint-box .hero-img .mint-box .form-control::-moz-placeholder {
  color: #fff;
  opacity: 0.8;
}
.mint-box .hero-img .mint-box .form-control:-ms-input-placeholder {
  color: #fff;
  opacity: 0.8;
}
.mint-box .hero-img .mint-box .form-control::-ms-input-placeholder {
  color: #fff;
  opacity: 0.8;
}
.mint-box .hero-img .mint-box .form-control::placeholder {
  color: #fff;
  opacity: 0.8;
}
.mint-box .hero-img .mint-box .btn-buy {
  margin-top: 17px;
  border: 0;
  height: 40px;
  display: block;
  width: 100%;
  background-color: rgba(250, 229, 1, 0.822);
  color: #000;
  padding: 8px 30px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 8px;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.mint-box .hero-img .mint-box .btn-buy:hover {
  background-color: #fae601;
}
.mint-box .pr-con {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 30px;
}
.mint-box .pr-con .title-sec {
  font-size: 24px;
  margin-top: 14px;
}
.mint-box .title-sec-2 {
  text-align: center;
  font-size: 30px;
  margin-top: 18px;
  color: #ff0042;
}
@media only screen and (max-width: 767px) {
  .mint-box .title-sec-2 {
    font-size: 26px;
  }
}
.mind-nft {
  width:100%;
  margin: 10px;
  cursor: pointer;
}
.rewardTokenAmount{
  font-size: 0.8rem;
  font-weight: bold;
}
